/* break this css down into separate files */

.topicsWindow {
  width: 30%;
  height: 300px;
  border-right: 1px solid grey;
}

.chatWindow {
  width: 70%;
  height: 300px;
}

.chatBox {
  width: 85%;
}

.button {
  width: 15%;
}
